.venv/
.conda/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.egg
*.egg-info/
dist/
build/
*.whl
*.tar.gz
*.zip
*.env
.env.local
.env.development
.env.test
.env.production
*.coverage
.coverage.*
*.DS_Store
*.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp